In [1]:
import pandas as pd

In [2]:
test_data = pd.read_csv('test_data.csv')
test_data.head()

   dlg_id  line_n     role                                               text
0       0       0   client                                               Алло
1       0       1  manager                                  Алло здравствуйте
2       0       2   client                                        Добрый день
3       0       3  manager  Меня зовут ангелина компания диджитал бизнес з...
4       0       4   client                                                Ага

In [3]:
test_data['greeting'] = False
greetings = ['здравствуйте', 'Здравствуйте', 'добрый день', 'Добрый день', 'доброе утро', 'Добррое утро', 
             'добрый вечер', 'Добрый вечер']
for i in range(480):
    test_data['greeting'][i] = any(elem in str(test_data['text'][i]) for elem in greetings)

<ipython-input-3-d7a42ca6f360>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['greeting'][i] = any(elem in str(test_data['text'][i]) for elem in greetings)

In [4]:
# a. Извлекаем реплики с приветствием – где менеджер поздоровался:
test_data[test_data['greeting'] == True][test_data['role'] == 'manager']['text']

<ipython-input-4-91ede538c654>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_data[test_data['greeting'] == True][test_data['role'] == 'manager']['text']

1             Алло здравствуйте
110           Алло здравствуйте
166           Алло здравствуйте
250    Алло дмитрий добрый день
Name: text, dtype: object

In [5]:
test_data['introduce'] = False
introduces = ['зовут', 'мое имя']
for i in range(480):
    test_data['introduce'][i] = any(elem in str(test_data['text'][i]) for elem in introduces)
test_data

<ipython-input-5-d9c7ce0593d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['introduce'][i] = any(elem in str(test_data['text'][i]) for elem in introduces)

,dlg_id,line_n,role,text,greeting,introduce
0,0,0,client,Алло,False,False
1,0,1,manager,Алло здравствуйте,True,False
2,0,2,client,Добрый день,True,False
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,False,True
4,0,4,client,Ага,False,False
...,...,...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...,False,False
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...,False,False
477,5,140,client,Спасибо спасибо,False,False
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте,False,False
479,5,142,manager,Ну до свидания хорошего вечера,False,False

In [6]:
# b. Извлекаем реплики, где менеджер представил себя:
test_data[test_data['introduce'] == True][test_data['role'] == 'manager']['text']

<ipython-input-6-fa6e4c2ba33e>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_data[test_data['introduce'] == True][test_data['role'] == 'manager']['text']

3      Меня зовут ангелина компания диджитал бизнес з...
111    Меня зовут ангелина компания диджитал бизнес з...
167    Меня зовут ангелина компания диджитал бизнес з...
251    Добрый меня максим зовут компания китобизнес у...
Name: text, dtype: object

In [7]:
test_data['name'] = ''
for i in range(480):
    if test_data['introduce'][i] == True:
        l = str(test_data['text'][i]).split()
        for j in range(len(l)):
            if l[j] == 'зовут':
                test_data['name'][i] = l[j+1]
test_data

<ipython-input-7-0cb4f21e2b66>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['name'][i] = l[j+1]

,dlg_id,line_n,role,text,greeting,introduce,name
0,0,0,client,Алло,False,False,
1,0,1,manager,Алло здравствуйте,True,False,
2,0,2,client,Добрый день,True,False,
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,False,True,ангелина
4,0,4,client,Ага,False,False,
...,...,...,...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...,False,False,
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...,False,False,
477,5,140,client,Спасибо спасибо,False,False,
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте,False,False,
479,5,142,manager,Ну до свидания хорошего вечера,False,False,

In [8]:
# c. Извлекаем имя менеджера:
test_data[test_data['name'] != '']['name']

3      ангелина
111    ангелина
167    ангелина
251    компания
Name: name, dtype: object

In [9]:
test_data['company'] = ''
for i in range(480):
    if test_data['introduce'][i] == True:
        l = str(test_data['text'][i]).split()
        for j in range(len(l)):
            if l[j] == 'компания':
                test_data['company'][i] = l[j+1]
test_data

<ipython-input-9-ad2653e88c82>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['company'][i] = l[j+1]

,dlg_id,line_n,role,text,greeting,introduce,name,company
0,0,0,client,Алло,False,False,,
1,0,1,manager,Алло здравствуйте,True,False,,
2,0,2,client,Добрый день,True,False,,
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,False,True,ангелина,диджитал
4,0,4,client,Ага,False,False,,
...,...,...,...,...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...,False,False,,
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...,False,False,,
477,5,140,client,Спасибо спасибо,False,False,,
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте,False,False,,
479,5,142,manager,Ну до свидания хорошего вечера,False,False,,

In [10]:
# d. Извлекаем название компании:
test_data[test_data['company'] != '']['company']

3        диджитал
111      диджитал
167      диджитал
251    китобизнес
Name: company, dtype: object

In [11]:
test_data['bye'] = False
goodbye = ['до свидания', 'До свидания', 'хорошего вечера', 'Хорошего вечера', 'всего хорошего', 'Всего хорошего', 
           'хорошего дня', 'Хорошего дня', 'всего доброго', 'Всего доброго']
for i in range(480):
    test_data['bye'][i] = any(elem in str(test_data['text'][i]) for elem in goodbye)
test_data

<ipython-input-11-018f6ef08b22>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['bye'][i] = any(elem in str(test_data['text'][i]) for elem in goodbye)

,dlg_id,line_n,role,text,greeting,introduce,name,company,bye
0,0,0,client,Алло,False,False,,,False
1,0,1,manager,Алло здравствуйте,True,False,,,False
2,0,2,client,Добрый день,True,False,,,False
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,False,True,ангелина,диджитал,False
4,0,4,client,Ага,False,False,,,False
...,...,...,...,...,...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...,False,False,,,False
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...,False,False,,,False
477,5,140,client,Спасибо спасибо,False,False,,,False
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте,False,False,,,False
479,5,142,manager,Ну до свидания хорошего вечера,False,False,,,True

In [12]:
# e. Извлекаем реплики, где менеджер попрощался:
test_data[test_data['bye'] == True][test_data['role'] == 'manager']['text']

<ipython-input-12-3dea1230db36>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_data[test_data['bye'] == True][test_data['role'] == 'manager']['text']

108                           Всего хорошего до свидания
162    Угу да вижу я эту почту хорошо тогда исправлю ...
163                                          До свидания
300    Угу все хорошо да понедельника тогда всего доб...
335    Во вторник все ну с вами да тогда до вторника ...
479                       Ну до свидания хорошего вечера
Name: text, dtype: object

In [13]:
# f. Проверяем требование к менеджеру: «В каждом диалоге обязательно необходимо поздороваться и попрощаться с клиентом»
df2 = test_data[test_data['role'] == 'manager'][['dlg_id', 'greeting', 'bye']]
df2 = df2.groupby('dlg_id').agg({'greeting': 'max', 'bye': 'max'})
df2['fulfillment'] = df2['greeting'] & df2['bye']
df2
# Таким образом, видим, что требование выполняется в диалогах 0, 1 и 3.

        greeting    bye  fulfillment
dlg_id
0           True   True         True
1           True   True         True
2           True  False        False
3           True   True         True
4          False   True        False
5          False   True        False